 <h2 class="bg-warning bg-gradient p-2 m-2 border rounded-3">REST API Countries</h2>
 <hr>
    <ul class="list-group">
      <button class="my-2 btn  list-group-item list-group-item-action" routerLink="" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      >Buscar pais(es) por nombre</button>
      <button class="my-2 btn list-group-item list-group-item-action" routerLink="region" routerLinkActive="active">Buscar pais(es) por región</button>
      <button class="my-2 btn list-group-item list-group-item-action" routerLink="capital" routerLinkActive="active">Buscar pais(es) por capital</button>
    </ul>
