<h2>Valicaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" 
    (ngSubmit)="submitFormulario()"
    [formGroup]="miFormulario">
       <!--  Control para el nombre -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre del usuario"
          />
          <span class="form-text text-danger"
          *ngIf="campoNoValido('nombre')"
          >Debe de ser en formato de nombre y apellido</span>
        </div>
      </div>
      <!-- fin control nombre -->
       <!--  Control para el email -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Email del usuario"
          />
          <span class="form-text text-danger"
          *ngIf="campoNoValido('email')"
          >{{emailErrorMessage}}</span>
        </div>
      </div>
      <!-- fin control email -->
       <!--  Control para el username o nick -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Nick del usuario"
          />
          <span class="form-text text-danger"
          *ngIf="campoNoValido('username')"
          >El username no puede ser strider</span>
        </div>
      </div>
      <!-- fin control username -->
      <!--  Control para la password -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password del usuario"
          />
          <span class="form-text text-danger"
          *ngIf="campoNoValido('password')"
          >La contraseña debe de ser mayor de 5 caracteres</span>
        </div>
      </div>
      <!-- fin control password -->
      
      <!--  Control para la password2 -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Repeat Password</label>
        <div class="col-sm-9">
          <input
          type="password"
          class="form-control"
          formControlName="password2"
          placeholder="Insertar de nuevo la password">
          <span class="form-text text-danger"
          *ngIf="campoNoValido('password2')"
          >Las contraseñas deben de ser iguales</span>
        </div>
      </div>
      <!-- fin control password2 -->
      
      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="miFormulario.pending"
            >Guardar</button>
        </div>
      </div>
      
    </form>
  </div>
</div>

<h2>Form Valid: {{ miFormulario.valid }}</h2>

<h3>Form Status: {{ miFormulario.status }}</h3>

<h3>Form Pending: {{ miFormulario.pending }}</h3>

<h3>Form errors: {{ miFormulario.errors }}</h3>

<h5>Nombre</h5>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>

<h5>Email</h5>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>

<h5>Username</h5>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>

<h5>Password</h5>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>

<h5>Password 2</h5>
<pre>{{ miFormulario.controls.password2.errors | json }}</pre>